@media (max-width: 65rem) {
    .account-panel-container {
        section {
            flex-direction: column;

            > .user-info {
                > div {
                    display: flex;
                    flex-direction: column;
                    padding-block: 0.4em;

                    &.uid-container {
                        gap: 0.3em;
                    }

                    label {
                        width: max-content;
                    }
                }
            }
        }
    }
}
@media (min-width: 65rem) {
    .account-panel-container {
        section {
            flex-direction: row;

            > .user-info {
                div {
                    gap: 0.4em;

                    label {
                        width: 7rem;
                    }
                }
            }
        }
    }
}

.account-panel-container {
    background: linear-gradient(100deg, #e4e4e4, #e1c8f5);
    color: var(--color-background);
    padding: 2rem;
    border-radius: 0.6em;
    box-shadow: 0 0 3px #30303060 inset;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    section {
        display: flex;
        gap: 1rem;

        > .user-pfp {
            img {
                height: 6rem;
                border-radius: 0.8em;
            }
        }
        > .user-info {
            > span {
                display: flex;
                align-items: baseline;
            }

            .username {
                display: flex;

                p {
                    font-weight: 600;
                }
            }

            .email {
                display: flex;

                p {
                    font-weight: 600;
                }
            }

            .uid-container {
                display: flex;

                .uid-wrapper {
                    display: flex;
                    gap: 0.4rem;

                    label {
                    }
                    input {
                        font-family: var(--font-mono);
                        width: max-content;

                        color: #f5f5f5;
                        background-color: var(--color-background);
                        border: none;
                        outline: none;
                        padding: 0.2em 0.6em;
                    }
                }
                > button {
                    border: none;
                    outline: 2px solid #00000000;

                    font-weight: 600;
                    background-color: #f5f5f5;
                    padding: 0.2em 0.6em;
                    transition: 0.3s ease;

                    &:hover {
                        background-color: darken(#f5f5f5, $amount: 10%);
                    }

                    &:active {
                        outline: 2px solid var(--color-background);
                        background-color: darken(#f5f5f5, $amount: 20%);
                    }
                }
            }
        }
    }
    .buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .auth-button {
            border: none;
            border-radius: 0;
            outline: 2px solid #00000000;

            width: max-content;
            background-color: #f5f5f5;
            padding: 1em;
            font-weight: 600;
            transition: 0.3s ease;

            &:hover {
                transform: translateY(-0.6em);
                outline: 2px solid var(--color-background);

                &:active {
                    transform: translateY(-0.3em);
                }
            }
        }
        .hide-posts-list-button {
            border: none;
            outline: 2px solid #00000000;

            font-weight: 600;
            background-color: #f5f5f5;
            padding: 0.2em 0.6em;
            transition: 0.3s ease;

            &:hover {
                background-color: darken(#f5f5f5, $amount: 10%);
            }

            &:active {
                outline: 2px solid var(--color-background);
                background-color: darken(#f5f5f5, $amount: 20%);
            }
        }
    }
}

.not-admin-warning {
    display: flex;
    gap: 1rem;

    border-radius: 0.3em;
    padding: 1.4rem;

    background-color: var(--error);
    color: #f5f5f5;

    * {
        font-family: var(--font-mono) !important;
    }

    object {
        height: 4rem;
        filter: invert(100%);
    }
}
