.more-others {
    min-width: 320px;
    background: rgb(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #ff003c20 50%, rgba(255, 0, 60, 1) 50%);
    // backdrop-filter: blur(3px);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.5s ease;

    &:hover {
        box-shadow: 0 0 10px #00000090, -12px -12px 0 #ff003c, 12px 12px 0 white;
    }

    hr {
        width: 100%;
        color: white;
    }

    .other-subcontainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
        gap: 1rem;

        a {
            color: white;
            font-family: var(--font-mono);
            font-weight: 600;
            text-transform: lowercase;
            text-decoration: none;

            width: max-content;
            padding: 0.6em 1em;
            transition: 0.3s ease;

            &::after {
                content: "()";
            }

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}
