body {
  background: var(--dim), url("/images/background/abstract-18.jpg") no-repeat;
  background-size: cover;
}

@media (max-width: 35rem) {
  .skills-list-container ul {
    width: 230px;
  }
}
@media (min-width: 35rem) {
  .skills-list-container ul {
    width: 445px;
  }
}
@media (min-width: 50rem) {
  .skills-list-container ul {
    width: 660px;
  }
}
@media (min-width: 65rem) {
  .skills-list-container ul {
    width: 875px;
  }
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
  text-align: center;
}
.skills-container .skills-title {
  text-align: center;
}
.skills-container div ul {
  max-width: 92vw;
  transition: 0.6s ease;
}
.skills-container div ul li {
  cursor: default;
  transition: 0.6s ease;
}
.skills-container .skills-list-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background: var(--color-background-transparent-semi);
  backdrop-filter: blur(6px);
  border-radius: 0.4em;
}
.skills-container .skills-list-container ul:hover li {
  filter: brightness(60%);
}
.skills-container .skills-list-container ul li {
  color: black;
  border-radius: 0.2em;
  list-style: none;
  height: 130px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}
.skills-container .skills-list-container ul li:hover {
  box-shadow: 0 -2rem 2rem -1rem rgba(5, 5, 5, 0.7) inset;
  filter: brightness(100%);
}
.skills-container .skills-list-container ul li:hover object {
  transform: translateY(-5px);
}
.skills-container .skills-list-container ul li:hover p {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.skills-container .skills-list-container ul li object {
  height: 4rem;
  width: auto;
  transition: 0.3s ease;
}
.skills-container .skills-list-container ul li p {
  visibility: hidden;
  opacity: 0;
  transform: translateY(1rem);
  transition: 0.5s ease;
  position: absolute;
  bottom: 0;
  font-family: var(--font-body);
  font-weight: 600;
  color: #ffffff;
}
.skills-container .skills-to-learn-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: min(5vw, 4rem);
  background: var(--color-background-transparent-semi);
  backdrop-filter: blur(6px);
  border-radius: 0.4em;
}
.skills-container .skills-to-learn-container h2 {
  text-align: center;
}
.skills-container .skills-to-learn-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.skills-container .skills-to-learn-container ul li {
  width: 100%;
  padding: 1rem;
  outline: 3px solid gold;
  border-radius: 0.3rem;
  position: relative;
  list-style: none;
  font-weight: 400;
  transition: 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.skills-container .skills-to-learn-container ul li.better:hover {
  background-color: greenyellow;
  outline: 0px solid #00000000;
  color: black;
}
.skills-container .skills-to-learn-container ul li:hover {
  background-color: gold;
  outline: 0px solid #00000000;
  color: black;
}
.skills-container .skills-to-learn-container ul li:hover object {
  filter: grayscale(0);
}
.skills-container .skills-to-learn-container ul li:hover object.background {
  opacity: 0.6;
}
.skills-container .skills-to-learn-container ul li object {
  height: 3rem;
  width: auto;
  filter: grayscale(100%);
  transition: 0.4s ease;
}
.skills-container .skills-to-learn-container ul li object.background {
  opacity: 0;
  height: 12rem;
  width: auto;
  filter: grayscale(100%);
  transition: 0.4s ease;
  position: absolute;
  left: 20%;
}
.skills-container .non-tech-skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-container .non-tech-skills-container h1 {
  font-size: 1.2rem;
  text-align: center;
}
.skills-container .non-tech-skills-container ul {
  background: #f1f1f1;
  border-radius: 0.3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.skills-container .non-tech-skills-container ul:hover li {
  outline: 1px solid #f1f1f1;
}
.skills-container .non-tech-skills-container ul li {
  background: #f1f1f1;
  border-radius: 0.3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  outline: 1px solid #c2c2c2;
  width: 100%;
  color: #111111;
  transition: 0.2s ease;
}
.skills-container .non-tech-skills-container ul li:hover {
  box-shadow: var(--shadow-smooth);
}
.skills-container .non-tech-skills-container ul li h4 {
  font-size: 1.2rem;
}

/*# sourceMappingURL=skills.css.map */
